page-view-cycle {
  ion-card.card-background-page {
    background-position: center;
    background-size: cover;
    max-height: 30vh;
  }

  ion-item.nextActivity-color {
    color: color($colors, primary);
  }
}
