<!--
  Generated template for the CyclesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="green">
    <ion-buttons start>
      <button ion-button icon-only menuToggle color="light">
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ciclos de produccion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="cycles.length  && !showLoading">
    <ion-list-header>
      Mis ciclos
    </ion-list-header>
    <button ion-item *ngFor="let cycle of (cycles)" (click)="viewCycle(cycle)">
      <ion-avatar item-start>
        <img src="./assets/imgs/logo.png">
      </ion-avatar>
      <h2 text-capitalize color="primary">{{cycle.name}}</h2>
      <!--<p>Duracion: {{(cycle.duration/12)}} año(s)</p>-->
      <p>Duracion: {{(cycle.duration/12) | amDuration:'years' }}</p>
      <p>Creado {{(cycle.start_date | amTimeAgo)}}</p>
    </button>
  </ion-list>
  <ion-spinner padding name="circles" *ngIf="showLoading && !cycles.length"></ion-spinner>
  <ion-item *ngIf="!showLoading && !cycles.length">
    <ion-list-header>
      No hay ciclos de produccion todavia...
    </ion-list-header>
  </ion-item>
  <ion-fab bottom right #fab>
    <button ion-fab color="danger">
      <ion-icon name="more"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="list-box"></ion-icon></button>
      <button ion-fab color="secondary" (click)="addCyclePage(fab)"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
