<!--
  Generated template for the ActivitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="green">
    <ion-title>Actividades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-list-header>
        Mis actividades
      </ion-list-header>
      <button ion-item *ngFor="let activity of activities | async | orderBy: 'reminder': 'desc'" (click)="viewActivity(activity)">
        <ion-avatar item-left>
          <img src="./assets/imgs/watch_icon2.png">
        </ion-avatar>
        <h3>{{activity.name}}</h3>
        <p>Recordatorio: {{activity.reminder | amTimeAgo}}</p>
        <p *ngIf="activity.reminder < getCurrentTime()" class="text-danger">Finalizada</p>
        <p *ngIf="activity.reminder > getCurrentTime()" class="text-success">En progreso</p>
        <ion-icon item-end color="secondary" name="checkmark-circle-outline" *ngIf="activity.reminder < getCurrentTime()" ></ion-icon>
      </button>
    </ion-list>

    <ion-fab bottom right #fab>
      <button ion-fab color="fabBlue" (click)="addActivity()" >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
