<!--
  Generated template for the WeatherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="green">
    <ion-buttons start>
      <button ion-button icon-only menuToggle color="light">
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Tiempo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card color="weatherBlue">
    <ion-card-header>
      Clima
      <ion-icon name="partly-sunny" item-right color="yellowSun"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner padding name="circles" *ngIf="!weather"></ion-spinner>
      <ion-item color="weatherBlue" *ngIf="weather">
        <ion-avatar item-left  class="avatar-weather-icon">
          <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png">
        </ion-avatar>
        <h2>{{weather.name}} - {{weather.sys.country}}</h2>
        <p>Humedad: {{weather.main.humidity}}%</p>
        <p>Temperatura: {{ (weather.main.temp) }}°C</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Pronostico (5 dias)
    </ion-card-header>
    <ion-card-content>
        <canvas #chartCanvas height="200px"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      Pronostico
    </ion-card-header>
    <ion-card-content >
      <ion-spinner padding name="circles" *ngIf="!forecastWeather"></ion-spinner>
      <ion-list *ngIf="forecastWeather">
        <ion-item *ngFor="let forecast of forecastWeather.list">
          <ion-avatar item-left  class="avatar-forecast-icon">
            <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png">
          </ion-avatar>
          <h2>Temperatura: {{ (forecast.main.temp) }}°C</h2>
          <p>{{ forecast.dt_txt | amLocale:'es' | amDateFormat:'MMM D YYYY - h:mm a'}}</p>
          <p>Humedad: {{forecast.main.humidity}}%</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
